body {
    background-image: url('media/test-bg1.jpg');
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.not-a-list {
    list-style: none;
}

#meet {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

#AutoTasks {
    font-size: 8rem;
}

.wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.wrapper h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1;
    font-size: 1.6rem;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #ffee02, #ff09a1, #59b65e, #ffffff);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    text-align: center;
}

.download {
    text-align: center;
    
}
#download {
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: rgb(120, 69, 224);
    padding: 0.5rem;
    border-radius: 8px;
    border-color: whitesmoke;
}

@keyframes animate {
    0% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 100%;
    }
}
